name: build-ios-app
on:
  push:
    branches:
      - 'main'
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - run: fastlane beta
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSPHRASE }},
	  APP_STORE_CONNECT_API_KEY: ${{ secrets.APP_STORE_CONNECT_API_KEY }},
	  APP_STORE_CONNECT_ISSUER_ID: ${{ APP_STORE_CONNECT_ISSUER_ID }},
	  APP_STORE_CONNECT_KEY_ID: ${{ APP_STORE_CONNECT_KEY_ID }},
